#grid {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    width: 500px;
    height: 500px;
    border: 3px solid black;
    background-color: rgb(213, 213, 213);
}

body {
    background-color: gray;
}

.grid-col {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

.grid-item {
    flex: 1 1 auto;
    border: 1px solid rgb(200 200 200);
}

.invisible {
    display: none;
}

.black-background {
    background-color: black;
}