body {
    background-color: #acc2d1;
}

#container {
    display: flex;
    width: 700px;
    justify-content: space-evenly;
}

#grid-container {
    display: flex;
    flex-flow: column;
}

#wrong-grid-size {
    height: 20px;
    margin-top: 7px;
    margin-bottom: 3px;
    text-align: end;
}

#size-choice {
    display: flex;
    justify-content: space-between;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    width: 500px;
    height: 500px;
    border: 3px solid black;
    background-color: #e3f2fc;
}

.grid-col {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

.grid-item {
    flex: 1 1 auto;
    border: 1px solid rgb(200 200 200);
}

.black-paint {
    background-color: black;
}

#options-container {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}